body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hero { 
    align-items: center;
    background-image: url("/imágenes/foto1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;  
    height: 400px ;
    justify-content: center;
}
menu {
    background-color: rgb(134, 77, 170);
    width: 10em; 
    /*si movemos el width podemos cambiar el menu a barra lateral*/
    min-height: 100vh;
}
menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    
    flex-direction: column;
    /*si agregamos un flex direction columna, tenemos el menú lateral*/
}
menu li {
    padding: 1.5em;
    list-style: none;
}
menu a {
    color: white;
    text-decoration: none;
    color: rgba (255, 255, 255, 0.6);
}
menu a:hover {
    color: palevioletred;
}
.main {
    display: flex;
}
.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    /*grid-template-rows: 200px 300px 50px;*/
    grid-auto-rows: 200px;
    gap: 10px;
}
.grid-item {
    border: solid 1px;
}

.imagen-1 {
background-color: blue;
}
.imagen-2 {
    background-color: green;
    }
    .imagen-3 {
    background-color: yellow;
        }
    .imagen-4 {
    background-color: pink;
            }
    .imagen-5 {
    background-color: rgb(240, 41, 6);
                }
    .imagen-6 {
    background-color: rgb(70, 11, 249);
                    }