body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hero { 
    align-items: center;
    background-image: url("/imágenes/foto1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;  
    height: 400px ;
    justify-content: center;
}
menu {
    background-color: rgb(134, 77, 170);
}
menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
menu li {
    padding: 1em;
    list-style: none;
}
menu a {
    color: white;
    text-decoration: none;
    color: rgba (255, 255, 255, 0.6);
}
menu a:hover {
    color: palevioletred;
}